<main>
    <section class="section1">
        <h1>Newsletter</h1>
        <p>Get information about our newest additions when they come up</p>
        <div class="inputField">
            <input type="text">
            <button>Sign</button>
        </div>        
    </section>  
    <section class="section2">
        <a href="">Terms</a>
        <a href="">Cookie policy</a>
        <a href="">FAQ</a>
        
    </section>
  
    <section class="section3">
        <h3>Follow us</h3>
        <a>Instagram &nbsp; <img src="assets/icons/instagram.svg" alt=""></a>
        <a>Facebook &nbsp; <img src="assets/icons/facebook.svg" alt=""></a>
        <a>Pintrest &nbsp; <img src="assets/icons/pinterest.svg" alt=""></a>
        
    </section>
</main>

