<main>
    <div class="image-wrap">
        <div class="image-borders">
            <img *ngIf="image | async" [src]="image" alt="">   
        </div>
    </div>
    <div class="text">
        <span>{{date | date:'short'}}</span>
        <span >{{(author | async)?.username}}</span>
        <h1>{{title}}</h1>
        <p>{{desc}}</p>
    </div>
    <div class="content" >
        <button>
            Read more <img src="../../assets/icons/arrow-right.svg" alt="">
        </button>
    </div>
</main>