<main>
    <section class="what">

        <img src="assets/icons/flower-color.svg" alt="">
        <header>
            <h1>
                What we do?
            </h1>            
        </header>

        <p>When you see something styly you gotta share it. Here is were we can talk
            about what's cool and trandy, what's goin' on in the world of fashion, poilitics
            and day-to-day basis. Lorem ipsum dolor sit amet consectetur adipisicing elit. <br><br>
            Eaque numquam vitae atque praesentium incidunt odit, similique, quasi nemo quisquam expedita,
            libero optio error dignissimos aut quae voluptatem ducimus quidem magni! Blanditiis, iusto corrupti?
            Ad fuga itaque hic id aliquam illo fugit ipsa libero consequuntur molestias perspiciatis similique,
            maxime quis, quam reiciendis in nemo aliquid. Nisi dicta, sint veniam amet aliquam, ipsam porro
            expedita reiciendis ut voluptatem laboriosam autem! Eum rerum nisi nemo quas quisquam quaerat <br><br>
            placeat veritatis, dolor illo porro aspernatur temporibus impedit quidem dolores quam, consequuntur
            rem inventore autem distinctio! Dolore eos blanditiis eum quos ipsum totam officia optio?
        </p>
    </section>
    <section class="why">
        <img src="assets/icons/about-butterfly.svg" alt="">
        <header>
            <h1>
                Why we do it?
            </h1>            
        </header>

        <p>When you see something styly you gotta share it. Here is were we can talk
            about what's cool and trandy, what's goin' on in the world of fashion, poilitics
            and day-to-day basis. <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eaque numquam vitae atque praesentium incidunt odit, similique, quasi nemo quisquam expedita,
            libero optio error dignissimos aut quae voluptatem ducimus quidem magni! Blanditiis, iusto corrupti?
            Ad fuga itaque hic id aliquam illo fugit ipsa libero consequuntur molestias perspiciatis similique,
            maxime quis, quam reiciendis in nemo aliquid. Nisi dicta, sint veniam amet aliquam, ipsam porro
            expedita reiciendis ut voluptatem laboriosam autem! Eum rerum nisi nemo quas quisquam quaerat
            placeat veritatis, dolor illo porro aspernatur temporibus impedit quidem dolores quam, consequuntur
            rem inventore autem distinctio! Dolore eos blanditiis eum quos ipsum totam officia optio?
        </p>

    </section>
    <section class='who'>
        <img src="assets/icons/about-globe2.svg" alt="" class="shifted">
        <header>
            <h1>
                Lastly: who we are?
            </h1>            
        </header>

        <p>When you see something styly you gotta share it. Here is were we can talk
            about what's cool and trandy, what's goin' on in the world of fashion, poilitics
            and day-to-day basis. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eaque numquam vitae atque praesentium incidunt odit, similique, quasi nemo quisquam expedita,
            libero optio error dignissimos aut quae voluptatem ducimus quidem magni! Blanditiis, iusto corrupti?
            Ad fuga itaque hic id aliquam illo fugit ipsa libero consequuntur molestias perspiciatis similique,
            maxime quis, quam reiciendis in nemo aliquid. Nisi dicta, sint veniam amet aliquam, ipsam porro
            expedita reiciendis ut voluptatem laboriosam autem! Eum rerum nisi nemo quas quisquam quaerat
            placeat veritatis, dolor illo porro aspernatur temporibus impedit quidem dolores quam, consequuntur
            rem inventore autem distinctio! Dolore eos blanditiis eum quos ipsum totam officia optio?
        </p>

    </section>
    <section>
        <header>
            <h1>Any questions?</h1> 
        </header>
        
        <button [routerLink]='["../contact"]'>Contact us!</button>
    </section>
</main>
