<main>
    <section class="events-section">
        <div class="desc">
            <h2>Our meet-ups</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia in harum reiciendis laudantium recusandae dolor pariatur laborum vel, dolorum, nam autem officia, ullam aliquam veritatis aspernatur laboriosam magnam hic illo? Nesciunt quam sapiente soluta excepturi fugit magnam fuga consectetur, quaerat laborum delectus, labore, veniam tempore culpa et earum recusandae debitis consequatur facilis qui accusamus necessitatibus corporis officia. Laboriosam inventore in aliquam beatae optio cum assumenda eum. Illo temporibus dicta aperiam!
            </p>
        </div>

        <div class="events">
            <div class="event">
                <img src="assets/images/events/museum.jpg" alt="">
                <h4>Event name</h4>
                <div class="event-info">
                    <div>
                        <img src="assets/images/events/buildings.svg" alt="">
                        Some museum
                    </div>
                    <div>
                        <img src="assets/images/events/calendar.svg" alt="">
                        15.05.2020
                    </div>
                    <div>
                        <img src="assets/images/events/clock.svg" alt="">
                        17:30
                    </div>
                </div>
                <button>Get yer ticket</button>                
            </div>
            <div class="event">
                <img src="assets/images/events/lamps.jpg" alt="">
                <h4>Event name</h4>
                <div class="event-info">
                    <div>
                        <img src="assets/images/events/buildings.svg" alt="">
                        Some museum
                    </div>
                    <div>
                        <img src="assets/images/events/calendar.svg" alt="">
                        15.05.2020
                    </div>
                    <div>
                        <img src="assets/images/events/clock.svg" alt="">
                        17:30
                    </div>
                </div>
                <button>Get yer ticket</button>                
            </div>

            <div class="event">
                <img src="assets/images/events/festival.jpg" alt="">
                <h4>Event name</h4>
                <div class="event-info">
                    <div>
                        <img src="assets/images/events/buildings.svg" alt="">
                        Some museum
                    </div>
                    <div>
                        <img src="assets/images/events/calendar.svg" alt="">
                        15.05.2020
                    </div>
                    <div>
                        <img src="assets/images/events/clock.svg" alt="">
                        17:30
                    </div>
                </div>
                <button>Get yer ticket</button>                
            </div>


        </div>

        <header>
            <h1>
                Hope to see you there!
            </h1>            
        </header>
    </section>

</main>