main
    scroll-snap-type: y mandatory
    height: 100vh
    width: 100%
    position: relative
 
button

    &.change
        background: none
        border: none
        cursor: pointer
        color: gray
        transition: 0.2s ease

        &:hover
            color: black

.thumbnails
    width: 100%
    position: absolute
    height: 100vh
    top: 0%
    right: 0%
    display: flex
    flex-wrap: wrap

    .simpleThumbnail
        margin: 0
        flex: 1 1 16rem
        left: 0
        top: 0
        position: relative
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        box-shadow: 0 2px 2px 0 #0000000e
        margin: 1px 

        .face
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;    
        
        .front
            z-index: 1;
        
        .back
            overflow: hidden;
            z-index: -1;
            display: block;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            box-sizing: border-box;
            background-color: #ffffff
        
        &:nth-of-type(9n)
            .back
                background-color: rgba(248,255,220,1)
        
        &:nth-of-type(11n)
            .back
                background-color: rgba(247,220,255,1)
        
        &:nth-of-type(13n)
            .back
                background-color: rgba(220,255,239,1)
                
.panel
    box-shadow: 0 0 3px 0 #0000001f
    transition: 1.3s ease-in-out

.login-panel
    position: absolute
    width: calc(15rem + 15vw)
    background-color: #fff
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    top: 0%
    left: 0%
    z-index: 10
    
    app-input-regular
        margin: 1rem 0
        min-width: 60%

.register-panel
    position: absolute
    width: calc(15rem + 15vw)
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    top: 100%
    left: 0%
    z-index: 11
    color: white

    &.active
        top: 0
    
    app-input-regular
        margin: 1rem 0
        min-width: 60%

@media screen and ( max-width: 800px )
    .login-panel

    .register-panel
    