<main class="menu-full" [ngClass]='{"active" : !scrolled}'>
    
    <header>
        <img src="assets/icons/flower (1).svg" alt="">
    </header>
    <nav class="menu-main">
        <a [routerLink]='["blog"]'>Blog</a>
        <a [routerLink]='["welcome"]'>About</a>
        <a [routerLink]='["welcome"]'>News</a>
        <a [routerLink]='["login"]'>User</a>

        <div class="login" *ngIf="!user?.uid" (click)="kek()">
            <a [routerLink]='["login"]'>Login</a>
        </div>            



        <!--
        <div class="logged" *ngIf="(user|async)?.uid" (click)='loggedLinks = !loggedLinks'>
            <img src="{{imgURL}}" alt="" *ngIf='imgURL !== null && imgURL !== undefined'>
            <ul class="logged-links" [ngClass]="(loggedLinks)?'active':'inactive'">
                <li><a [routerLink]='["/account"]' [ngClass]="(router.isActive('/account',false)==true)?'active':'naah'">My profile <img src="assets/icons/user.svg" alt=""></a></li>
                <li><a [routerLink]='["/account/options"]' [ngClass]="(router.isActive('/account/options',false)==true)?'active':'naah'">Options <img src="assets/icons/settings.svg" alt=""></a></li>
                <li><a (click)="logout()">Logout <img src="assets/icons/logout.svg" alt=""></a></li>
            </ul>
        </div>            
        -->
    </nav>
</main>

<div class="hamburger" (click)='change()'
[ngClass]="active ? 'active' : 'naah' ">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<nav class='menu-fixed' [ngClass]='{"active" : scrolled}'>
    <!--
        <img src="../../assets/images/BGs/blob.svg" alt="">
    -->
    
    <a [routerLink]='["blog"]'>Blog</a>
    <a [routerLink]='["welcome"]'>About</a>
    <a [routerLink]='["welcome"]'>News</a>
    <a [routerLink]='["welcome"]'>Tickets</a>
</nav>


<div class="overlay" [ngClass]="active ? 'visible' : 'naah'">

    <div class="fill1 fill"></div>
    <div class="fill2 fill"></div>
    <div class="menu-overlay">
        <ul>
            <li><a [routerLink]='["welcome"]' (click)='change()'>Home</a></li>
            <li><a [routerLink]='["fishes/fighting"]' (click)='change()'>Animals</a></li>
            <li><a [routerLink]='["news"]' (click)='change()'>News</a></li>
            <li><a [routerLink]='["about"]' (click)='change()'>About</a></li>
            <li><a [routerLink]='["tickets"]' (click)='change()'>Tickets</a></li>
        </ul>
    </div>
</div>
