<main>
    <div class="types">
        <button class="type" *ngFor='let type of postTypes' (click)='pickType(type)' [ngClass]="chosenType === type ?'active':'naah'">
            <div>{{type}}</div>
        </button>
    </div>
    <div class="card" >
        <div class="hide" (click)="sectionsOpen.basics = !sectionsOpen.basics" >Basics 
            <img 
            [ngClass]="{'rotated': !sectionsOpen.basics}"
            src="../../../assets/icons/arrow-right.svg" 
            alt="">
        </div>
        <div class="card-content" [ngClass]="{'hidden': !sectionsOpen.basics}">
            <div class="image">
                <input #file type="file" id="selectedFile" style="display: none;"
                accept='image/*' 
                (change)="preview(file.files)"/>
                <button (click)="file.click()"></button>
                <img [src]="imgURL" *ngIf="imgURL">
            </div>
            <app-input-regular
            [label]="'Title'" 
            [placeholder]="'Title'" 
            [(inputModel)]="post.title" 
            [type]="'text'"></app-input-regular>               
        </div>
    </div>
    <div class="card" >
        <div class="hide" (click)="sectionsOpen.content = !sectionsOpen.content">
            Content 
            <img 
            [ngClass]="{'rotated': !sectionsOpen.content}"
            src="../../../assets/icons/arrow-right.svg" 
            alt="">
        </div>
        <div class="card-content" [ngClass]="{'hidden': !sectionsOpen.content}">
            <quill-editor></quill-editor>
        </div> 
    </div>
    <div class="card">
        <div class="hide" (click)="sectionsOpen.reco = !sectionsOpen.reco">
            Recognizable
            <img 
            [ngClass]="{'rotated': !sectionsOpen.reco}"
            src="../../../assets/icons/arrow-right.svg" 
            alt="">
        </div>
        <div class="card-content" [ngClass]="{'hidden': !sectionsOpen.reco}">

            <div class="tags">
                <button class="tag" *ngFor='let tag of postTags' (click)='pickTag(tag)' [ngClass]="(chosenTags.includes(tag)?'active':'naah')">
                    <div>{{tag}}</div>
                </button>
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Summany of the post" [(ngModel)]='post.summary'></textarea>            
        </div>
    </div>
    <app-button-regular [text]="'Start your journey'"></app-button-regular>
</main>
