<main>
    <div class="image-wrap">
        <div class="image-borders">
            <img [src]="image" alt="">   
        </div>
    </div>
    <div class="card">
        <div class="text">
            <h1>{{title}}</h1>
            <p>{{desc}}</p>
        </div>


        <div class="buttons">
            <button><img src="../../../../assets/icons/post-delete.svg" alt=""></button>
            <button><img src="../../../../assets/icons/post-edit2.svg" alt=""></button>
            <button><img src="../../../../assets/icons/post-favourite.svg" alt=""></button>
        </div>            

    </div>


</main>
