<nav>
    <a [routerLink]='["profile"]'>Profile <img src="../../assets/icons/user.svg" alt=""></a>
    <a [routerLink]='["posts"]'>Posts <img src="../../assets/icons/post-edit.svg" alt=""></a>
    <a [routerLink]='["saved"]'>Saved <img src="../../assets/icons/post-edit.svg" alt=""></a>
    <a [routerLink]='["options"]'>Options <img src="../../assets/icons/settings.svg" alt=""></a>
    <a [routerLink]='["options"]' (click)="logOut()">Log out <img src="../../assets/icons/logout.svg" alt=""></a>
</nav>

<main>
    <div class="router-wrap">
        <router-outlet></router-outlet>    
    </div>    
</main>

