nav
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: fixed
    right: 6rem
    top: 50%
    transform: translate(0,-50%)

    a
        font-size: 1.3rem
        text-decoration: none
        color: #fff
        margin: 1rem 0

.router-wrap
    width: 70%
    margin: 10% 15%
    position: relative
    background-color: #fff
    padding: 4rem 4rem
    box-shadow: var(--smooth-shadow-big)