/* general */
img
    background-position: center
    background-size: cover
    background-repeat: no-repeat

main
    position: relative

section
    width: 100%


.featured
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 0rem 15%;
    padding-bottom: 4rem;
    padding-top: 10%;
    z-index: 3

    .cards
        z-index: -1
        display: flex
        width: 100%
        height: 100%
        position: absolute
        background: var(--colorAccent3)
        top: 0
        z-index: 4
        .card
            position: relative
            width: 100%;
            height: 100%;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            border-radius: 10px;
            box-shadow: 5px 5px 5px #3a3a3a00;

            &:hover
                -webkit-transform: rotateY(20deg);
                transform: rotateY(20deg);
                .front
                    box-shadow: var(--smooth-shadow-big)
                .back
                    box-shadow: 5px 5px 5px #3a3a3a;
            .face
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                background-color: whitesmoke;  
            .front
                background-color: #ffffff
                z-index: 1;
                border-right: 2px solid #ececec
            .back
                overflow: hidden;
                z-index: -1;
                display: block;
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
                box-sizing: border-box;
                background-color: #303030
                border-right: 1px solid var(--colorAccent3)

            
        

    app-post-thumbnail 
        flex: 1 1 35rem
        height: 25rem
        margin: 0.25rem
        z-index: 6




/* HEADER */
header
    display: flex
    position: relative
    padding: 1rem 0
    background-color: var(--colorSecondary)
    color: white
    justify-content: center
    align-items: center
    text-align: center

    h2
        position: relative
        top: 3rem
        margin: 0rem 3rem 
        font-size: 5rem
        z-index: 30
        color: var(--colorAccent3)
        text-shadow: var(--smooth-shadow-big)



/* ALL POSTS SECTION */
.allPosts 
    width: 100%
    background-color: rgb(240, 240, 240)
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    padding-bottom: 10%;
    position: relative
    top: 0
    z-index: 20


    app-post-thumbnail 
        flex: 1 1 25rem
        height: 25rem
        margin: 0.25rem

    app-paginator
        width: 50%
        margin: 4rem 25%


@keyframes fadeInLeft
    0%
        left: -30px
        top: -30px
        opacity: 0
    100%
        left: 0
        top: 0
        opacity: 1
    


.postsLoader
    width: 100%
    height: 250px
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    transition: 1s
    margin-top: 30px

    img
        height: 100%
        padding: 0%
        margin: 10%

    .loading
        height: 200px
        opacity: 1

    .done
        height: 0px
        opacity: 0
        margin-top: 0


.cm-spinner 
    height: 150px
    width: 150px
    border: 3px solid transparent
    border-radius: 50%
    border-top: 4px solid #474747
    -webkit-animation: spin 6s linear infinite
    animation: spin 6s linear infinite
    position: relative
  
  
    &::before,
    &::after 
        content: ""
        position: absolute
        top: 6px
        bottom: 6px
        left: 6px
        right: 6px
        border-radius: 50%
        border: 4px solid transparent
  
  
    &::before 
        border-top-color: #ff9bd2
        -webkit-animation: 4s spin linear infinite
        animation: 4s spin linear infinite
  
  
    &::after 
        border-top-color: #ff1e7c
        -webkit-animation: spin 2s linear infinite
        animation: spin 2s linear infinite
     
               
@-webkit-keyframes spin 
    from 
        -webkit-transform: rotate(0deg)
        transform: rotate(0deg)
    
    to 
        -webkit-transform: rotate(360deg)
        transform: rotate(360deg)
      
     
          
@keyframes spin 
    from 
        -webkit-transform: rotate(0deg)
        transform: rotate(0deg)
    
    to 
        -webkit-transform: rotate(360deg)
        transform: rotate(360deg)
      